<main role="main" class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="center">Tutti-frutti</h1>
            <hr />
            <div class="alert alert-primary" role="alert">
                Esperando a otros jugadores...
            </div>
            <div class="board">
                <form class="word-form">
                    <div class="form-group">
                        <label>Add as many words as you can!</label>
                        <input type="text" class="form-control word" placeholder="...">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Add word</button>
                </form>
                <br />
                <div class="card text-center">
                    <div class="card-header">Your current word list</div>
                    <div class="card-body">
                        <ul class="word-list"></ul>
                    </div>
                </div>
            </div>
        </div>
</main>