<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <input type="button" class="btn btn-success" value="Send toast" onclick="showToast('Hola')">
      <input type="button" class="btn btn-success" value="Send toast"
        onclick="messageToServer('Mensaje desde el cliente')"></div>
  </div>
</main>